# Conexão com o banco de dados Postgres (Vercel Postgres, Supabase, Neon ou Local)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gestao_lojas?schema=public"

# Configurações do Auth.js / NextAuth
NEXTAUTH_SECRET="desenvolvimento-local-secret-key-123456"
NEXTAUTH_URL="http://localhost:3000"
